<h3>{{title}} - {{displayQuery}}</h3>

<form #searchForm="ngForm" (ngSubmit)="newQuery()">
  <div>
    <label for=query>Search:</label>
    <input name="query" id="#query" type="text" #query="ngModel" [(ngModel)]="model.q" required appNoSpecialChars/>    
    <div *ngIf="query.invalid">
      <div *ngIf="query.errors.required">
        Please enter a search query
      </div>
      <div *ngIf="query.errors.hasSpecialChars">
        Invalid characters
      </div>
    </div>
  </div>
  <div>
    <label for=language>Language:</label>
    <input name="language" id="#language" type="text" #language="ngModel" [(ngModel)]="model.language" appNoSpecialChars/>    
    <div *ngIf="language.invalid">
      <div *ngIf="language.errors.hasSpecialChars">
        Invalid characters
      </div>
    </div>
  </div>
  <div>
    <label for=user>User:</label>
    <input name="user" id="#user" #user="ngModel" type="text" [(ngModel)]="model.user" appNoSpecialChars/>    
    <div *ngIf="user.invalid">
      <div *ngIf="user.errors.hasSpecialChars">
        Invalid characters
      </div>
    </div>
  </div>
  <div>
    <label for=size>Size:</label>
    <input name="size" id="#size" #size="ngModel" type="number" [(ngModel)]="model.size" appNoSpecialChars/>    
    <div *ngIf="size.invalid">
      <div *ngIf="size.errors.hasSpecialChars">
        Invalid characters
      </div>
    </div>
  </div>
  <div>
    <label for=stars>Stars:</label>
    <input name="stars" id="#stars" #stars="ngModel" type="number" [(ngModel)]="model.stars" minlength="2" maxlength="4" appNoSpecialChars/>    
    <div *ngIf="stars.invalid">
      <div *ngIf="stars.errors.hasSpecialChars">
        Invalid characters
      </div>
      <div *ngIf="stars.errors.minlength">
        A minimum of two characters are required
      </div>
      <div *ngIf="stars.errors.maxlength">
        A max of two characters are allowed
      </div>
    </div>
  </div>
  <div>
    <label for=topic>Topic:</label>
    <input name="topic" id="#topic" #topic="ngModel" type="text" [(ngModel)]="model.topic" appNoSpecialChars/>    
    <div *ngIf="topic.invalid">
      <div *ngIf="topic.errors.hasSpecialChars">
        Invalid characters
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!searchForm.valid">Submit</button>
</form>

<div *ngIf="searchResults else loadingBlock;" >
  <div *ngIf="searchResults.repositories.items.length > 0 else noItemsBlock;">
      <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
      <div>
        <button (click)="previousPage()">Previous</button>
        <button (click)="nextPage()">Next</button>
      </div>
      <ul class="list">
          <app-repository-display [searchResults]="searchResults.repositories"></app-repository-display>
          <app-code-display [searchResults]="searchResults.code" *ngIf="searchResults.code"></app-code-display>
      </ul>
      <div>
        <button (click)="previousPage()">Previous</button>
        <button (click)="nextPage()">Next</button>
      </div>
  </div>
  <ng-template #noItemsBlock>No results found</ng-template>
</div>
<ng-template #loadingBlock>Loading...</ng-template>
